@use "../../../style/index" as *;
@import "./mixin";

$btn-prefix: "btn";

.#{$btn-prefix} {
	box-sizing: border-box;
	border: 1px solid #d0d0d5;
	outline: none;
	letter-spacing: 0;
	text-align: center;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 50px;
	vertical-align: middle;
	text-decoration: none;
	white-space: nowrap;
	user-select: none;
	border-radius: 4px;
	transition: $btn-transition;
	line-height: $btn-line-height;

	& + .#{$btn-prefix} {
		margin-left: 10px;
	}

	&__loader {
		@include loader();
	}

	&__icon-container,
	&__loader {
		display: inline-block;
		pointer-events: none;
		line-height: $btn-line-height;
		vertical-align: middle;

		& + span {
			margin-left: 0.3em;
		}
	}

	&__children {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&_default {
		color: $text-contrast;
		background: $primary-color;
		border-color: $border-primary-color;

		&:hover,
		&:focus {
			background: $hover-primary-color;
		}

		&:active {
			background: $primary-color;
		}

		&:disabled {
			color: rgba(0, 0, 0, 0.25);
			background-color: #f5f5f5;
			border-color: #d9d9d9;
		}
	}

	// Sizes
	&_sm {
		@include btn-size($btn-padding-sm, $btn-font-size-sm, $btn-height-sm);
	}

	&_md {
		@include btn-size($btn-padding-md, $btn-font-size-md, $btn-height-md);
	}

	&_lg {
		@include btn-size($btn-padding-lg, $btn-font-size-lg, $btn-height-lg);
	}

	&_block {
		width: 100%;

		& + & {
			margin: 0;
		}
	}

	&_loading {
		position: relative;
		pointer-events: none;

		&:before {
			content: "";
			position: absolute;
			top: -1px;
			right: -1px;
			bottom: -1px;
			left: -1px;
			z-index: 1;
			display: block;
			background: #fff;
			border-radius: inherit;
			opacity: $btn-loading-opacity;
			transition: opacity 0.2s;
		}
	}

	&_disabled {
		cursor: not-allowed;
	}
}
