@use "../../../style/index" as *;

.header {
    display: flex;
    gap: 0.5rem;
    padding: 0 $margin-lg;
    align-items: center;
    justify-content: center;
    color: $text-contrast;
    background: $primary-color;
    height: $height-lg;

    &__text {
        font-family: $font-family-monospace;
    }
}