@use "../../style/index" as *;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
    padding: 0 $margin-lg;

    .home__input {
        width: 100%;
    }
    .home__infoErr {
        width: 100%;
        color: $danger-color;
        min-height: 40px;
    }
}